
---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80

# Additional settings for aligning long if conditions
ContinuationIndentWidth: 4
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align

